*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  font-size: 25px;
  align-items: center;
  display: block;
  text-align: center;
}

input {
  font-size: 25px;
  margin-top: 20px;
}
